html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    background-color: #BB7E8C;
    width: 100%;
}
body { 
    margin: 0;
    padding: 0;
}
div.background {
    background-color: #BB7E8C;
    margin: 0%;
    
}
div.navbar {
    overflow: hidden;
    top: 0; 
    position: fixed;
    width: 100%;
    background-color: #BB7E8C;
    padding: 0;
    color: #EEF0F2;
    padding: 0 12% 0 12%;
    height: auto;
}
header {
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 25px, 0;
}
header a {
    color: #E5E7EB;
    text-decoration: none;
}
.logo {
    cursor: pointer;
    float: left;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a:hover {
    text-decoration: underline;
}
div.background-top {
    margin: 0%;
    color: #EEF0F2;
    font-size: 20px;
    padding: 0 12% 0 12%;
}
div.information {
    height: 100vh;
    flex-direction: row;
    display: flex;
    align-items: center;
}
div.information h1 {
    padding-top: 5%;
    font-size: 55px;
    margin: 0;
}
div.information p {
    font-size: 28px;
}
div.information a {
    display: grid;
    text-align: center;
    background-color: #acacb0;
    color: #E5E7EB;
    width: 70vh;
    height: 50vh;
    float: right;
    text-decoration: none;
    margin-left: 17px;
}
div.information-more {
    height: 100vh;
    flex-direction: row;
    display: flex;
    align-items: center;
}
div.img-container {
    display: flex;
}
div.information-more a {
    display: grid;
    text-align: center;
    background-color: #acacb0;
    color: #E5E7EB;
    width: 70vh;
    height: 50vh;
    text-decoration: none;
    margin-left: 17px;
}
div.information-more h2 {
    text-align: left;
    font-size: 45px;
}
div.information-more p {
    font-size: 26px;
}
div.information-page {
    height: 100vh;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
div.information-page h3 {
    font-size: 45px;
}
div.information-page p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 27px;
    padding-bottom: 20px;
}
button-container {
    display: flex;
}
div.information-page button {
    background-color: #E5E7EB;
    color: #555555;
    border: 2px solid #E5E7EB;
    width: 150px;
    height: 50px;
    font-size: 40px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}
div.information-page button:hover {
    background-color: #BB7E8C;
    color: #E5E7EB;
}
div.background-mid {
    padding-bottom: 7%;
    padding: 0;
    margin: 0;
    background-color: #E5E7EB;
    color: #555555;
}
div.background-mid h3{
    text-align: center;
    font-size: 50px;
    padding-top: 6%;
    padding-bottom: 4%;
    margin: 0;
}
div.images {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 70px;
}
div.images a {
    text-align: center;
    background-color: #acacb0;
    color: #E5E7EB;
    width: 35vh;
    height: 25vh;
    text-decoration: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.background-bottom {
    background-color: #1C1C1C;
    margin: 0%;
    color: #E5E7EB;
    padding-top: 4%;
    padding-bottom: 5%;
}
div.background-bottom h4 {
    font-size: 35px;
    text-align: center;
}
div.background-bottom p {
    font-size: 20px;
    text-align: center;
}
div.background-bottom a {
    color: #E5E7EB;
    text-decoration: none;
    font-weight: bold;
}
div.background-bottom a:hover {
    text-decoration: underline;
}